.full-background-image {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 64px);
}

header .right-col .align-middle {
  height: calc(100vh - 64px) !important;
}
header .right-col .subheading {
  font-size: 1rem;
}

header .right-col,
header .left-col {
  padding: 0;
}
header .right-col {
  padding: 0 15px;
}

section.home .row {
  padding: 0;
  margin: 0;
}

section.home .row button {
  font-size: 18px;
  width: 150px;
  color: white;
}

@media (max-width: 992px) {
    .hidden-md-down {
        display: none;
      }
}
