/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: Vazir;
  src: url('../node_modules/vazir-font/dist/Vazir.eot');
  src: url('../node_modules/vazir-font/dist/Vazir.eot?#iefix')
      format('embedded-opentype'),
    url('../node_modules/vazir-font/dist/Vazir.woff2') format('woff2'),
    url('../node_modules/vazir-font/dist/Vazir.woff') format('woff'),
    url('../node_modules/vazir-font/dist/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../node_modules/vazir-font/dist/Vazir-Bold.eot');
  src: url('../node_modules/vazir-font/dist/Vazir-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../node_modules/vazir-font/dist/Vazir-Bold.woff2') format('woff2'),
    url('../node_modules/vazir-font/dist/Vazir-Bold.woff') format('woff'),
    url('../node_modules/vazir-font/dist/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../node_modules/vazir-font/dist/Vazir-Black.eot');
  src: url('../node_modules/vazir-font/dist/Vazir-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../node_modules/vazir-font/dist/Vazir-Black.woff2') format('woff2'),
    url('../node_modules/vazir-font/dist/Vazir-Black.woff') format('woff'),
    url('../node_modules/vazir-font/dist/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../node_modules/vazir-font/dist/Vazir-Medium.eot');
  src: url('../node_modules/vazir-font/dist/Vazir-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../node_modules/vazir-font/dist/Vazir-Medium.woff2') format('woff2'),
    url('../node_modules/vazir-font/dist/Vazir-Medium.woff') format('woff'),
    url('../node_modules/vazir-font/dist/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../node_modules/vazir-font/dist/Vazir-Light.eot');
  src: url('../node_modules/vazir-font/dist/Vazir-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../node_modules/vazir-font/dist/Vazir-Light.woff2') format('woff2'),
    url('../node_modules/vazir-font/dist/Vazir-Light.woff') format('woff'),
    url('../node_modules/vazir-font/dist/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../node_modules/vazir-font/dist/Vazir-Thin.eot');
  src: url('../node_modules/vazir-font/dist/Vazir-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../node_modules/vazir-font/dist/Vazir-Thin.woff2') format('woff2'),
    url('../node_modules/vazir-font/dist/Vazir-Thin.woff') format('woff'),
    url('../node_modules/vazir-font/dist/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
button,
p,
label,
div,
input,
th {
  font-family: 'Vazir' !important;
}

button:focus {
  outline: 0 !important;
}

input:-webkit-autofill {
  background-color: white !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #333 !important;
  background-color: white !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #333 !important;
  background-color: white !important;
}

// testomonial card
.testimonial-card .avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  z-index: 9999;
}
.testimonial-card .avatar img {
  width: 100%;
}
.testimonial-card .card-up {
  overflow: hidden;
  height: 120px;
  -webkit-border-top-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  -webkit-border-top-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.blue.lighten-1 {
  background-color: #3f51b5 !important;
}

// direction
.ltr {
  direction: ltr;
}

[dir='rtl'] .md-form label {
  left: unset !important;
  right: 0 !important;
}

[dir='rtl'] .mat-dialog-title {
  text-align: right;
}
.btn-rounded {
  border-radius: 10em;
}

.btn-disable {
  filter: grayscale(0.5);
}

.mat-drawer-container app-header .active {
  background-color: #384bb2;
}
.mat-drawer-container mat-nav-list .active {
  color: #3f51b5;
}

// text color
.text-gray {
  color: #3a3a3a !important;
}

.paper-background {
  background: rgb(255, 255, 255) url(./assets/paper_texture.png) repeat scroll
    0px 0px / auto padding-box border-box !important;
}
.paper-background .card {
  background-color: #ffffff17 !important;
}

.paper-background::after {
  background-position: 0px 0px;
  bottom: -8px;
  color: rgb(102, 102, 102);
  height: 10px;
  left: 0px;
  position: absolute;
  width: 100%;
  perspective-origin: 144px 5px;
  transform-origin: 144px 5px;
  content: ' ';
  background: rgba(0, 0, 0, 0)
    url(https://static.licdn.com/scds/common/u/images/apps/payments/textures/texture_paper_zigzag_288x18_v1.png)
    repeat-x scroll 0px 0px / auto padding-box border-box;
}
.paper-background::before {
  background-position: 0px 0px;
  bottom: -8px;
  color: rgb(102, 102, 102);
  height: 10px;
  left: 0px;
  position: absolute;
  width: 100%;
  perspective-origin: 144px 5px;
  transform-origin: 144px 5px;
  content: ' ';
  background: rgba(0, 0, 0, 0)
    url(https://static.licdn.com/scds/common/u/images/apps/payments/textures/texture_paper_zigzag_288x18_v1.png)
    repeat-x scroll 0px 0px / auto padding-box border-box;
}

dp-date-picker {
  width: 100%;
}
dp-date-picker.dp-material .dp-picker-input{
  width:100% !important;
}

// sepah custom colors

.mat-toolbar.mat-primary {
  background: #444444;
}
.mat-drawer-container app-header .active {
  background-color: #353434;
}
.bank-gradient {
  background: linear-gradient(40deg, #fdc830, #f37335) !important;
}
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #444444;
}

td.mat-cell:last-of-type img {
  width: 43px;
  padding: 7px;
}
