<div class="container-fluid">
  <div class="row justify-content-center mt-4">
    <div class="col-md-5">
      <div class="error-holder">
        <div
          class="box d-flex flex-column justify-content-center  align-items-center align-middle"
        >
          <p class="error-type">
            <span class="flashing-num-1">4</span>
            <span class="flashing-num-1 del-1">0</span>
            <span class="flashing-num-1 del-2">3</span>
          </p>
        </div>
        <p class="error-text mt-4">
          {{ 'app.accessdenied.title' | translate }}
        </p>
        <p>
          {{ 'app.accessdenied.description' | translate }}
          <br />
          {{ 'app.accessdenied.helplink.part1' | translate }}
          <a (click)="goBack()">{{
            'app.accessdenied.helplink.part2' | translate
          }}</a>
          {{ 'app.accessdenied.helplink.part3' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
