<div class="receipt-page">
  <div class="container-fluid ">
    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <div class="text-center p-5">
          <p class="h4 mb-4">
            {{ 'resources.dashboard.receiptlist.form.title' | translate }}
          </p>

          <p>
            {{ 'resources.dashboard.receiptlist.form.description' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mb-5 receipt-filter">
    <div class="row justify-content-center mt-4" data-aos="fade-up">
      <div class="col-lg-6">
        <form
          class="text-center z-depth-1 p-5 white rtl curve-box"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          name="form"
          novalidate
        >
          <div class="form-group">
            <div class="md-form">
              <div>
                <dp-date-picker
                  dir="rtl"
                  mode="day"
                  name="from_date"
                  #from_date="ngModel"
                  [(ngModel)]="fromDate"
                  placeholder="از تاریخ"
                  required
                  theme="dp-material"
                >
                </dp-date-picker>
              </div>

              <div class="mt-3">
                <dp-date-picker
                  dir="rtl"
                  mode="day"
                  name="to_date"
                  #to_date="ngModel"
                  [(ngModel)]="toDate"
                  placeholder="تا تاریخ"
                  required
                  theme="dp-material"
                >
                </dp-date-picker>
              </div>
            </div>
          </div>

          <div class="text-center">
            <app-button-spinner
              [inputDisabled]="!f.valid"
              [isRunning]="isRequesting"
              [inputValue]="'فیلتر رسید ها'"
            ></app-button-spinner>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    class="container-fluid mb-5 receipt-list"
    *ngFor="let receipts of receiptlists"
  >
    <div class="container-fluid">
      <div class="row justify-content-center mt-4" *ngIf="!filterApplied">
        <div class="text-center z-depth-1 p-2 white receipt-date-range">
          <span>{{ receipts.date | toJalaali: 'jYYYY/jMM/jDD' }}</span>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center mt-4"
      *ngFor="let receipt of receipts.receipts"
    >
      <div class="col-lg-6">
        <mdb-card class="receipt-card text-center paper-background">
          <div class="card-up p-2 bank-gradient">
            <div class="row text-gray">
              <div class="receipt-head col-md-4 col-sm-4 col-4 p-1">
                <div class="col-md-12">
                  <strong>
                    {{
                      'resources.dashboard.receiptlist.label.stan' | translate
                    }}
                  </strong>
                </div>
                <div class="col-md-12">
                  <strong>{{ receipt.paymentInfo.stan }}</strong>
                </div>
              </div>

              <div class="receipt-head col-md-4 col-sm-4 col-4 p-1">
                <div class="col-md-12">
                  <strong>
                    {{
                      'resources.dashboard.receiptlist.label.transactiondate'
                        | translate
                    }}
                  </strong>
                </div>
                <div class="col-md-12">
                  <strong>{{
                    receipt.statementInfo.date
                      | formatJalaali: 'jYYYYjMMjDD':'jYYYY/jMM/jDD'
                  }}</strong>
                </div>
              </div>

              <div class="receipt-head col-md-4 col-sm-4 col-4 p-1">
                <div class="col-md-12">
                  <strong>
                    {{
                      'resources.dashboard.receiptlist.label.transactiontime'
                        | translate
                    }}
                  </strong>
                </div>
                <div class="col-md-12">
                  <strong>{{ receipt.statementInfo.time | formatTime }}</strong>
                </div>
              </div>
            </div>
          </div>
          <mdb-card-body>
            <mdb-card-title [ngSwitch]="receipt.paymentInfo.paymentType">
              <p class="h6 mb-3" *ngSwitchCase="'1'">
                {{
                  'resources.dashboard.receiptlist.label.withdrawal' | translate
                }}
              </p>
              <p class="h6 mb-3" *ngSwitchCase="'2'">
                {{
                  'resources.dashboard.receiptlist.label.pinchange' | translate
                }}
              </p>
              <p class="h6 mb-3" *ngSwitchCase="'3'">
                {{
                  'resources.dashboard.receiptlist.label.fundtransfer'
                    | translate
                }}
              </p>
              <p class="h6 mb-3" *ngSwitchCase="'12'">
                {{
                  'resources.dashboard.receiptlist.label.balanceinquiry'
                    | translate
                }}
              </p>
              <p class="h6 mb-3" *ngSwitchCase="'17'">
                {{
                  'resources.dashboard.receiptlist.label.billpayment'
                    | translate
                }}
              </p>
              <p class="h6 mb-3" *ngSwitchCase="'55'">
                {{
                  'resources.dashboard.receiptlist.label.pin2inactive'
                    | translate
                }}
              </p>
            </mdb-card-title>

            <div class="receipt">
              <div class="receipt-body">
                <div
                  class="row p-2"
                  *ngIf="show_source_cardno(receipt.paymentInfo.paymentType)"
                >
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    {{
                      'resources.dashboard.receiptlist.label.sourcecard'
                        | translate
                    }}
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                    {{ receipt.statementInfo.cardToken }}
                  </div>
                  <mat-divider></mat-divider>
                </div>

                <div
                  class="row p-2"
                  *ngIf="
                    show_destination_cardno(receipt.paymentInfo.paymentType)
                  "
                >
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    {{
                      'resources.dashboard.receiptlist.label.destinationcard'
                        | translate
                    }}
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                    {{ receipt.statementInfo.cardToken1 }}
                  </div>
                  <mat-divider></mat-divider>
                </div>

                <div
                  class="row p-2"
                  *ngIf="show_rrn(receipt.paymentInfo.paymentType)"
                >
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    {{
                      'resources.dashboard.receiptlist.label.rrn' | translate
                    }}
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                    {{ receipt.paymentInfo.rrn }}
                  </div>
                  <mat-divider></mat-divider>
                </div>

                <div
                  class="row  p-2"
                  *ngIf="show_source_account(receipt.paymentInfo.paymentType)"
                >
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    {{
                      'resources.dashboard.receiptlist.label.sourceaccount'
                        | translate
                    }}
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                    <!-- {{ receipt.paymentInfo.targetAccountNo }} -->
                    6155228006
                  </div>
                  <mat-divider></mat-divider>
                </div>

                <div
                  class="row p-2"
                  *ngIf="show_terminal_id(receipt.paymentInfo.paymentType)"
                >
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    {{
                      'resources.dashboard.receiptlist.label.terminalid'
                        | translate
                    }}
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                    {{ receipt.paymentInfo.terminalNo }}
                  </div>
                  <mat-divider></mat-divider>
                </div>

                <div
                  class="row p-2"
                  *ngIf="show_actual_balance(receipt.paymentInfo.paymentType)"
                >
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    {{
                      'resources.dashboard.receiptlist.label.actualbalance'
                        | translate
                    }}
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                    {{ receipt.paymentInfo.actualBalance }}
                  </div>
                  <mat-divider></mat-divider>
                </div>

                <div
                  class="row p-2"
                  *ngIf="
                    show_available_balance(receipt.paymentInfo.paymentType)
                  "
                >
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    {{
                      'resources.dashboard.receiptlist.label.availablebalance'
                        | translate
                    }}
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                    {{ receipt.paymentInfo.availableBalance }}
                  </div>
                  <mat-divider></mat-divider>
                </div>

                <div
                  class="row p-2"
                  *ngIf="show_amount(receipt.paymentInfo.paymentType)"
                >
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    مبلغ
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                    {{ receipt.paymentInfo.amount }}
                  </div>
                  <mat-divider></mat-divider>
                </div>

                <div
                  class="row p-2"
                  *ngIf="show_customer_name(receipt.paymentInfo.paymentType)"
                >
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    {{
                      'resources.dashboard.receiptlist.label.name' | translate
                    }}
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                    {{ receipt.paymentInfo.targetAccountName }}
                  </div>
                  <mat-divider></mat-divider>
                </div>

                <div class="row p-2">
                  <strong class="col-md-6 col-sm-6 col-6 text-left">
                    محل تراکنش
                  </strong>
                  <div class="col-md-6 col-sm-6 col-6 text-right">
                      {{ receipt.sellerInfo.address }}
                  </div>
                  <mat-divider></mat-divider>
                </div>
              </div>
            </div>

            <!-- body ends here -->
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>

  <div
    class="container-fluid mb-5"
    *ngIf="!this.allreceiptloade && !this.filterApplied"
  >
  <div class="row justify-content-center">
      <div class="col-lg-6">
          <div class="text-center">
              <app-button-spinner
                [isRunning]="isRequesting"
                [inputValue]="'بیشتر'"
                (click)="loadReceipt()"
              ></app-button-spinner>
            </div>
      </div>
  </div>
  </div>

  <!-- <div class="container-fluid mb-5">
    <div class="row justify-content-center">
      <app-spinner [isRunning]="isRequesting"></app-spinner>
    </div>
  </div> -->
</div>




