<div class="container-fluid">
  <div class="row justify-content-center mt-4">
    <div class="col-md-5">
      <mat-card class="testimonial-card text-center">
        <div class="card-up peach-gradient"></div>

        <div class="avatar mx-auto">
          <img src="/assets/activation-logo.png" class="rounded-circle" />
        </div>

        <countdown [config]="{ leftTime: 60 * 2 }" (finished)="onFinished()">$!m!:$!s!</countdown>
        <div *ngIf="needResend">
          <div class="red-text">{{ 'account.activation.resend.message' | translate }}</div>
          <a class="green-text" (click)="resend()">{{ 'account.activation.resend.button' | translate }}</a>
        </div>

        <mat-card-content>
          <mat-card-title>
            <p class="h4 mb-4">
              {{ 'account.activation.form.title' | translate }}
            </p>
          </mat-card-title>

          <form
            class="ltr"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <div class="md-form">
                <input
                  type="text"
                  name="token"
                  class="form-control"
                  [(ngModel)]="model.code"
                  #token="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && token.invalid }"
                  matInput
                  required
                  [textMask]="{ mask: tokenMask }"
                  pattern="^[0-9]{5}$"
                />

                <label for="token">
                  {{ 'account.activation.field.token' | translate }}
                </label>

                <div
                  *ngIf="token.touched && token.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="token.errors.required">
                    {{
                      'account.activation.validation.token.required'
                        | translate
                    }}
                  </div>
                  <div *ngIf="token.errors.pattern">
                    {{
                      'account.activation.validation.token.pattern'
                        | translate
                    }}
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <app-button-spinner
                [inputDisabled]="!f.valid"
                [isRunning]="isRequesting"
                [inputValue]="'account.activation.button.activation'"
              ></app-button-spinner>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
