
  <div class="col-md-12">
    <input
      type="file"
      #file
      placeholder="Choose file"
      (change)="upload(file.files)"
      style="display:none;"
    />
    <app-button-spinner
    (click)="file.click()"
    [inputDisabled]="isDisabled"
    [isRunning]="isRequesting"
    [inputValue]="'resources.app.upload.button.uploadfile'"
  ></app-button-spinner>

  </div>
  <!-- <div class="col-md-12">
    <span class="upload" *ngIf="progress > 0"> {{ progress }}% </span>
    <span class="upload" *ngIf="message">
      {{ message }}
    </span>
  </div> -->

