<div class="container-fluid">
  <div class="row justify-content-center mt-4" data-aos="fade-up">
    <div class="col-md-5">
      <form
        class="text-center z-depth-1 p-5 white ltr"
        (ngSubmit)="f.form.valid && onSubmit(f)"
        #f="ngForm"
        name="form"
        novalidate
      >
        <p class="h4 mb-4">
          {{ 'resources.dashboard.cardauth.form.title' | translate }}
        </p>

        <p>
          {{ 'resources.dashboard.cardauth.form.description' | translate }}
        </p>

        <div class="form-group">
          <div class="md-form">
            <input
              type="text"
              name="pan"
              class="form-control mb-4"
              [(ngModel)]="model.pan"
              #pan="ngModel"
              [ngClass]="{ 'is-invalid': pan.touched && pan.invalid }"
              mdbInput
              required
              validatePan
              maxlength="20"
              [textMask]="{ mask: panMask }"
            />
            <label for="pan">
              {{ 'resources.dashboard.cardauth.field.pan' | translate }}
            </label>
            <div *ngIf="pan.touched && pan.invalid" class="invalid-feedback">
              <div *ngIf="pan.errors.required">
                {{ 'resources.dashboard.cardauth.validation.pan.required' | translate }}
              </div>
              <div *ngIf="pan.errors.validatePan">
                {{
                  'resources.dashboard.cardauth.validation.pan.wrongformat' | translate
                }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="md-form">
            <input
              type="password"
              name="pin2"
              class="form-control mb-4"
              [(ngModel)]="model.pin2"
              #pin2="ngModel"
              [ngClass]="{ 'is-invalid': pin2.touched && pin2.invalid }"
              mdbInput
              required
              minlength="5"
              maxlength="12"
            />
            <label for="pin2">
              {{ 'resources.dashboard.cardauth.field.pin2' | translate }}
            </label>
            <div *ngIf="pin2.touched && pin2.invalid" class="invalid-feedback">
              <div *ngIf="pin2.errors.required">
                {{ 'resources.dashboard.cardauth.validation.pin2.required' | translate }}
              </div>
              <div *ngIf="pin2.errors.minlength">
                {{ 'resources.dashboard.share.validation.pin2' | translate }}
              </div>
              <div *ngIf="pin2.errors.maxlength">
                {{ 'resources.dashboard.share.validation.pin2' | translate }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="md-form">
            <input
              type="text"
              name="cvv2"
              class="form-control mb-4"
              [(ngModel)]="model.cvv2"
              #cvv2="ngModel"
              [ngClass]="{ 'is-invalid': cvv2.touched && cvv2.invalid }"
              mdbInput
              required
              validateCvv2
              [textMask]="{ mask: cvv2Mask }"
            />
            <label for="cvv2">
              {{ 'resources.dashboard.cardauth.field.cvv2' | translate }}
            </label>
            <div *ngIf="cvv2.touched && cvv2.invalid" class="invalid-feedback">
              <div *ngIf="cvv2.errors.required">
                {{ 'resources.dashboard.cardauth.validation.cvv2.required' | translate }}
              </div>
              <div *ngIf="cvv2.errors.validateCvv2">
                {{
                  'resources.dashboard.cardauth.validation.cvv2.wrongformat' | translate
                }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="md-form">
            <input
              type="text"
              name="month"
              class="form-control mb-4"
              [(ngModel)]="model.month"
              #month="ngModel"
              [ngClass]="{ 'is-invalid': month.touched && month.invalid }"
              mdbInput
              required
              maxlength="3"
              [minValue]="1"
              [maxValue]="12"
              [textMask]="{ mask: monthMask }"
              pattern="^[0-9]{2}$"
            />
            <label for="month">
              {{ 'resources.dashboard.cardauth.field.month' | translate }}
            </label>
            <div
              *ngIf="month.touched && month.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="month.errors.required">
                {{ 'resources.dashboard.cardauth.validation.month.required' | translate }}
              </div>
              <div *ngIf="month.errors.minValue">
                {{ 'resources.dashboard.cardauth.validation.month.minvalue' | translate }}
              </div>
              <div *ngIf="month.errors.maxValue">
                {{ 'resources.dashboard.cardauth.validation.month.maxvalue' | translate }}
              </div>
              <div *ngIf="month.errors.maxlength">
                {{
                  'dashboard.cardauth.validation.month.maxlength' | translate
                }}
              </div>
              <div *ngIf="month.errors.pattern">
                {{ 'resources.dashboard.cardauth.validation.month.pattern' | translate }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="md-form">
            <input
              type="text"
              name="year"
              class="form-control mb-4"
              [(ngModel)]="model.year"
              #year="ngModel"
              [ngClass]="{ 'is-invalid': year.touched && year.invalid }"
              mdbInput
              required
              maxlength="5"
              [textMask]="{ mask: yearMask }"
              pattern="^[0-9]{4}$"
              [minValue]="1398"
              [maxValue]="2000"
            />
            <label for="year">
              {{ 'resources.dashboard.cardauth.field.year' | translate }}
            </label>
            <div *ngIf="year.touched && year.invalid" class="invalid-feedback">
              <div *ngIf="year.errors.required">
                {{ 'resources.dashboard.cardauth.validation.year.required' | translate }}
              </div>
              <div *ngIf="year.errors.minValue">
                {{ 'resources.dashboard.cardauth.validation.year.minvalue' | translate }}
              </div>
              <div *ngIf="year.errors.maxValue">
                {{ 'resources.dashboard.cardauth.validation.year.maxvalue' | translate }}
              </div>
              <div *ngIf="year.errors.maxlength">
                {{ 'resources.dashboard.cardauth.validation.year.maxlength' | translate }}
              </div>
              <div *ngIf="year.errors.pattern">
                {{ 'resources.dashboard.cardauth.validation.year.pattern' | translate }}
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <app-button-spinner
            [inputDisabled]="!f.valid"
            [isRunning]="isRequesting"
            [inputValue]="'resources.dashboard.cardauth.button.savecard'"
          ></app-button-spinner>
        </div>
      </form>
    </div>
  </div>
</div>
