<mat-toolbar color="primary">
  <div *ShowToAuthUser="true">
    <button mat-icon-button (click)="onToggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <button
    mat-button
    *ShowToAuthUser="false"
    routerLink="/login"
    routerLinkActive="active"
  >
    {{ "app.header.menu.login" | translate }}
  </button>
  <button
    mat-button
    *ShowToAuthUser="false"
    routerLink="/register"
    routerLinkActive="active"
  >
    {{ "app.header.menu.register" | translate }}
  </button>
  <button
    mat-button
    *ShowToAuthUser="true"
    routerLink="/dashboard"
    routerLinkActive="active"
  >
    {{ "app.header.menu.dashboard" | translate }}
  </button>
  <button
    mat-button
    *ShowToAuthUser="true"
    (click)="logout()"
    routerLinkActive="active"
  >
    {{ "app.header.menu.logout" | translate }}
  </button>
</mat-toolbar>
